<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movies</title>
  <link href='https://fonts.googleapis.com/css?family=Lato:400' rel='stylesheet' type='text/css'>
  <link href="css/style.css" rel="stylesheet">
</head>
<body ng-controller="Movies">
  <div class="compare">
    <form name="compareForm">
      <fieldset class="compare__fieldset">
        <legend class="compare__title">Wpisz tytuły filmów</legend>
        <div class="compare__parameter">
          <label class="compare__parameter-name">Film 1</label>
          <input class="compare__parameter-value" type="text" name="movie1" ng-model="title1" required/>
        </div>
        <div class="compare__parameter">
          <label class="compare__parameter-name">Film 2</label>
          <input class="compare__parameter-value" type="text" name="movie2" ng-model="title2" required/>
        </div>
        <button type="button" ng-click="search()">Porównaj!</button>
      </fieldset>
    </form>
    <p ng-show="showMessage" class="error">
      {{ message }}
    </p>
    <div class="compare__result" ng-show="showCompare">
      <p>Osoby łączące filmy:</p>
      <p>
        {{ sameActors }}
      </p>
      <p>
        {{ sameWriter }}
      </p>
    </div>
    <div class="compare__searchTitles">
      <p>Ostatnie wyszukiwania</p>
      <ul>
        <li ng-repeat="(key, value) in searchTitles track by $index">{{ value }}</li>
      </ul>
    </div>
  </div>
  <div class="loader" ng-show="showLoad"><p>Poszukiwanie...</p></div>

  <script src="js/combined.js"></script>
</body>
</html>
